body {
    background: #fff;
}
#home-section{
    background: url(../img/home-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 580px;
    background-attachment: fixed;
    position: relative;
    
}
.overlay{
    background-color: rgba(0, 0, 0, 0.6);
    min-height: 580px;
    top: 0;
    left: 0;
}
h2{
    font-weight: 600;
    font-size: 60px;
    font-family: sans-serif;
    
}
.par-size{
    font-size: 1.5rem;
}
.gray{
background-color: rgb(241, 224, 224);
}
#trainer-section .icon{
    
    border-radius: 1px;
    color: rgb(201, 198, 193);
    font-size: 40px;
    

}
#trainer-section .icon:hover{
    background-color: darkcyan;
}

